.f1{
  width:400px;
  margin: auto;
}
#body3{
  background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/watercolor-background-stellalevi.jpg');
  height: 600px;
  margin-top: 90px;
  width: 500px;
  border-radius: 20px;

}
